PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/typingtest
NODE_ENV=production
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=evolvevue25@gmail.com
SMTP_PASS=your_gmail_app_password_here
HR_EMAIL_1=hrevolvevue@gmail.com
HR_EMAIL_2=evolvevue25@gmail.com
CLIENT_URL=https://typingtest.evolvevue.com.np
